@page "/inventoryreport"

@using IMS.UserCases.Reports
@inject IJSRuntime JSRuntime
@inject ISearchInventoryTransactionUseCase searchInventoryTransactionUseCase

<h3>InventoryTransaction</h3>
<br />
<div id="printarea">
<div class="row">
    <div class="col">
        <label for="inv">Inventory Name :</label>
        <input type="text" id="inv" class="form-control" @bind-value="invName" />
    </div>
    <div class="col">
        <label for="DFrom">Date From :</label>
        <input type="date" id="DFrom" class="form-control" @bind-value="dateFrom" />
    </div>
    <div class="col">
        <label for="DTo">Date To :</label>
        <input type="date" id="DTo" class="form-control" @bind-value="dateTo" />
    </div>
    <div class="col">
        <label for="at">Date To :</label>
        <select id="at" class="form-control" @bind="activityTypeId">
            <option value="0"></option>
            <option value="1">Purchase Inventory</option>
            <option value="2">Produce Product</option>
        </select>
    </div>
    <div class="col">
        <label></label>
        <button type="button" class="btn form-control" @onclick="SearchInventories" >Search</button>
    </div>
    <div class="col">
        <label></label>
        <button type="button" class="btn form-control" @onclick="PrintReport">Report</button>
    </div>
</div>
@if (inventoryTransactions != null)
{

        <table class="table">
            <thead>
                <th>Date</th>
                <th>Inventory</th>
                <th>Activity</th>
                <th>Quantity Before</th>
                <th>Quantity After</th>
                <th>PO #</th>
                <th>Producthion #</th>
            </thead>
            <tbody>
                @foreach (var it in inventoryTransactions)
                {
                    <tr>
                        <td>@it.TransactionDate.ToString("MM/dd/yyyy")</td>
                        <td>@it.Inventory.InventoryName</td>
                        <td>
                            @if (it.ActivityType == InventoryTransactionType.PurchaseInventory)
                            {
                                <text>Purchase</text>
                            }
                            else if (it.ActivityType == InventoryTransactionType.PurchaseInventory)
                            {
                                <text>Produce</text>
                            }
                        </td>
                        <td>@it.QuantityBefore</td>
                        <td>@it.QuantityAfter</td>
                        <td>@it.PONumber</td>
                        <td>@it.ProductionNumber</td>
                    </tr>
                }
            </tbody>
        </table>

}
</div>
@code {
    private string invName;
    private DateTime? dateFrom;
    private DateTime? dateTo;
    private int activityTypeId = 0;
    private IEnumerable<InventoryTransaction> inventoryTransactions;

    private async Task SearchInventories()
    {
        InventoryTransactionType? inventoryTransactionType = null;
        if (activityTypeId != 0)
        {
            inventoryTransactionType = (InventoryTransactionType)activityTypeId;
        }
        inventoryTransactions = await searchInventoryTransactionUseCase.ExecuteAsync(invName, dateFrom, dateTo, inventoryTransactionType);
    }
    private void PrintReport()
    {
        JSRuntime.InvokeVoidAsync("print");
    }
}
